<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Students details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
  <table class="table table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Program Name</th>
    </tr>

    {% for s in students %}
    <tr>
      <th>{{ s.id }}</th>
      <th>{{ s.name }}</th>
      <th>{{ s.gender }}</th>
      <th>{{ s.email }}</th>
      <th>{{ s.programname }}</th>
    </tr>
    {% endfor %}
  </table>
</body>
</html>